<h1>Here's a teacher!</h1>
<h3><%= @teacher.name %></h3>

<p>View your students</p><br><br>

<%= link_to 'Create new materials', new_material_path %><br><br>

<%= link_to 'Create new assignments', new_assignment_path %><br><br>












<%= link_to 'Sign Out', signout_path %>
