<h1>Materials By Course</h1>

<div class="course-index">
  <% @courses.each do |course| %>
    <p class="border-<%= course.fileify %>"><%= link_to course.name, course_materials_path(course) %></p>
  <% end %>
</div>
