/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body.logged-out {
   padding-bottom: 30px;
   margin: 0px;
   font-family: sans-serif;
 }

 body.logged-in {
   padding-bottom: 30px;
   margin: 0px;
   background: #ccc;
   font-family: sans-serif;
   color: #333;
 }

 a {
   color: black;
   text-decoration: none;
 }

 a:link {

 }

 a:hover {
   color: #555;
 }

 .navbar-toggle {
   display: none;
 }

 .navbar-header {
   display: block;
   position: fixed;
   height: 81px;
   width: 100%;
   top: 0;
   background: #333;
   color: #eee;
   z-index: 1;
 }

 .navbar-header a {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-size: 1.7em;
   padding: 10px 2vw 10px 2vw;
 }

 .navbar-brand {
   position: relative;
   top: -18vw;
 }

 .navbar-header a:hover {
   color: #999;
 }

 .course-icon-container {
   display: inline-block;
   position: relative;
   width: 20vw;
   height: 20vw;
   background: white;
   border-radius: 100%;
   border: 5px solid #333;
   top: -6vw;
   left: -4vw;
 }

 .course-icon-container img {
   position: absolute;
   width: 20.1vw;
   height: 20.1vw;
   border-radius: 100%;
   opacity: .7;
 }

 h1 {
   position: absolute;
   display: block;
   width: 100%;
   top: -10vw;
   text-align: center;
   font-size: 3.5em;
   color: #333;
   margin: 1em;
   margin-left: 1vw;
 }

 h1.logged-out {
   position: relative;
   top: -1vw;
   text-align: center;
   font-size: 3.5em;
   color: #ccc;
   margin: 1em;
   margin-left: 6.4vw;
 }

 h2 {
   font-size: 2.4em;
   margin: .3em 0;
 }

 .theme-dropdown .dropdown-menu {
   position: static;
   display: block;
   margin-bottom: 20px;
 }

 .theme-showcase > p > .btn {
   margin: 5px 0;
 }

 .center {
   text-align: center;
 }

 .main-logged-in {
   position: relative;
   margin: auto;
   width: 92%;
   height: min-content;
   display: block;
   top: 12vw;
   padding: 2em;
   background: white;
   border: 1px solid #333;
   border-radius: 40px;
 }

 .main-logged-out {
   position: relative;
   margin: 20px;
   top: 5vw;
 }

 .interactive {
   display: flex;
 }

 .data-container {
   width: 45%;
   margin: 1vw;
 }

 .data-container p {
   font-weight: bolder;
   text-decoration: underline;
 }

 .data-container li {
   margin: 1em 0;
 }

 .pic,
 .info {
   padding: 20px;
   display: inline-block;
   background-color: #eeeeee;
   border-radius: 7px;
   vertical-align: middle;
   margin: 10px;
 }

 .info {
   height: 290px;
   text-align: left;
 }

 .flash {
   width: max-content;
   padding: .5em;
   border-radius: 10px;
 }

 .success {
   background: #c8f1c9;
   color: green;
 }

 .failure {
   background: #fdd7d7;
   color: red;
 }

 #change-to-teacher {
   position: fixed;
   bottom: 2vh;
   right: 2vh;
 }

 #change-to-teacher label {
   padding: .5em;
 }

 #change-to-teacher input#is_teacher {
  visibility: hidden;
 }

 #change-to-teacher input#is_teacher:checked + label {
   padding: .5em;
   border: 2px solid #006ecc;
 }

 input[type=radio] {
   display: none
 }

 div.course-select {
   margin: 3vw 0;
 }

 div.course-select img {
   height: 15em;
   width: 15em;
   border: 10px solid #eee;
   border-radius: 100%;
 }

 div.course-select img:hover {
   border: 10px solid #9ebad2;
 }

 input[type=radio]:checked + label img {
   border: 10px solid #006ecc;
 }

 input[type=text], input[type=number], input[type=password], select {
   display: block;
   width: 100%;
   height: 2em;
   border: 2px solid #ccc;
 }

 section.fb-divider {
   padding-top: 8vh;
   border-top: 1px solid #ccc;
   margin-top: 8vh;
 }

 a.fb-link img {
   height: 3em;
 }

 a.fb-link label {
   position: relative;
   font-size: 2.2em;
   padding: .5em;
   bottom: .25em;
 }

 div.course-index p {
   width: 100%;
   text-align: center;
   font-size: 1.3em;
   border-radius: 8px;
   padding: .3em;
}

div.course-index a {
  display: block;
  width: 100%;
}

div.course-index p:hover {
  background: #ccc;
}

.border-basic {
  border: 3px solid #fbcc33;
}

.border-level-1 {
  border: 3px solid #c7392b;
}

.border-level-2 {
  border: 3px solid #065eb6;
}

.border-level-3 {
  border: 3px solid #367835;
}

.border-level-4 {
  border: 3px solid #5c297f;
}

table.assignments-list td {
  width: 9%;
  height: 1.5em;
}

table.assignments-list tr:nth-child(odd) {
  background: #ccc;
}

ul#all-materials li {
  padding: .4em;
  margin: .4em;
  border-radius: 8px;
}

ul#all-materials li:hover {
  background: #ccc;
}
