<h1>All Materials</h1>
<%= link_to 'View By Course', courses_path %><br>

<ul>
  <% @materials.each do |material| %>
    <li><%= link_to "#{material.name} - #{material.course.name}", course_material_path(material.course, material) %> -
      <%= link_to "Edit", edit_material_path(material) %>
  <% end %>
</ul><br>

<%= link_to 'Add Materials', correct_new_material_path %>
