<h1><%= @material.name %></h1>

<p><%= @material.description %></p>

<div id="material-show">
  <%= link_to 'VISIT HERE', "http://#{@material.url}" %><br><br>

  <%= link_to 'EDIT MATERIAL', edit_material_path(@material) %>
</div>
